---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import type { AccountsFromDB } from "../types/database";
import { Image } from "astro:assets";

const { data: partners, error } = (await supabase
  .from("accounts")
  .select("*")
  .order("name", { ascending: true })) as {
  data: AccountsFromDB[] | null;
  error: any;
};

if (error) {
  console.error("Error fetching partners:", error);
}
---

<Layout>
  <Header />

  <div class="container max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-4">Our Partners</h1>
    <p class="text-center mb-12 text-gray-600">
      We thank our partners for their support in making Cebby possible.
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      {
        partners &&
          partners.map((partner) => (
            <div class="bg-white shadow-lg rounded-lg overflow-hidden ">
              <Image
                src={partner.primary_photo}
                alt={partner.name}
                width={300}
                height={200}
                class="mx-auto transform transition-transform hover:scale-105"
              />
              <div class="p-6">
                <h2 class="text-xl font-semibold text-gray-900 line-clamp-1">
                  {partner.name}
                </h2>
                <p class="mb-2 text-sm text-gray-500 line-clamp-1">
                  Partner since{" "}
                  {new Date(partner.created_at).toLocaleDateString()}
                </p>
                <a
                  href={`https://www.facebook.com/${partner.account_id}`}
                  class="text-purple-600 hover:underline transition-colors duration-300"
                  target="_blank"
                >
                  View on Facebook ↗
                </a>
              </div>
            </div>
          ))
      }
    </div>
  </div>
</Layout>
