---
import ReloadPrompt from '../components/ReloadPrompt.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
import Footer from '../components/Footer.astro';
import { pwaInfo } from 'virtual:pwa-info';

// replaced dynamically
const buildDate = __DATE__;

export interface Props {
    title?: string;
    showFooter?: boolean;
}

const { title = 'cebby', showFooter = false } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
        />
        <link rel="icon" href="/icons/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="cebby:build:date" property={buildDate} />
        <title>{title}</title>

        <!-- PWA meta tags -->
        <meta name="theme-color" content="#9333ea" media="(prefers-color-scheme: light)" />
        <meta name="theme-color" content="#9333ea" media="(prefers-color-scheme: dark)" />
        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

        <!-- iOS meta tags -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="cebby" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="mobile-web-app-capable" content="yes" />

        <!-- Disable touch highlighting -->
        <meta name="msapplication-tap-highlight" content="no" />

        <!-- iOS icons -->
        <link rel="apple-touch-icon" href="/icons/apple-icon-180.png" />

        <!-- iOS splash screens -->
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2048-2732.jpeg"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2732-2048.jpeg"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1668-2388.jpeg"
            media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2388-1668.jpeg"
            media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1536-2048.jpeg"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2048-1536.jpeg"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1488-2266.jpeg"
            media="(device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2266-1488.jpeg"
            media="(device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1640-2360.jpeg"
            media="(device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2360-1640.jpeg"
            media="(device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1668-2224.jpeg"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2224-1668.jpeg"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1620-2160.jpeg"
            media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2160-1620.jpeg"
            media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1320-2868.jpeg"
            media="(device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2868-1320.jpeg"
            media="(device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1206-2622.jpeg"
            media="(device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2622-1206.jpeg"
            media="(device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1290-2796.jpeg"
            media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2796-1290.jpeg"
            media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1179-2556.jpeg"
            media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2556-1179.jpeg"
            media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1284-2778.jpeg"
            media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2778-1284.jpeg"
            media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1170-2532.jpeg"
            media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2532-1170.jpeg"
            media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1125-2436.jpeg"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2436-1125.jpeg"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1242-2688.jpeg"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2688-1242.jpeg"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-828-1792.jpeg"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1792-828.jpeg"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1242-2208.jpeg"
            media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-2208-1242.jpeg"
            media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-750-1334.jpeg"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1334-750.jpeg"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-640-1136.jpeg"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/splash/apple-splash-1136-640.jpeg"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />

        <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
        <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Caveat:wght@700&display=swap"
            rel="stylesheet"
        />

        <link rel="sitemap" href="/sitemap.xml" />

        <slot name="head" />

        <style is:global>
            :root {
                --font-sans:
                    'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
                    Arial, sans-serif;
                --font-display: 'Caveat', cursive;
                --sat: env(safe-area-inset-top);
                --sar: env(safe-area-inset-right);
                --sab: env(safe-area-inset-bottom);
                --sal: env(safe-area-inset-left);
            }

            .pt-safe {
                padding-top: var(--sat);
            }
            .pr-safe {
                padding-right: var(--sar);
            }
            .pb-safe {
                padding-bottom: var(--sab);
            }
            .pl-safe {
                padding-left: var(--sal);
            }
            .px-safe {
                padding-left: var(--sal);
                padding-right: var(--sar);
            }

            html {
                font-family: var(--font-sans);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-text-size-adjust: 100%;
            }

            body {
                min-height: 100vh;
                color: #1f1f1f;
                background:
                    radial-gradient(ellipse 80% 40% at 50% 0%, rgba(168, 85, 247, 0.06) 0%, transparent 60%),
                    radial-gradient(ellipse 60% 30% at 100% 20%, rgba(251, 191, 36, 0.05) 0%, transparent 60%),
                    radial-gradient(ellipse 60% 30% at 0% 30%, rgba(34, 197, 94, 0.04) 0%, transparent 60%),
                    #fafaf9;
                background-attachment: fixed;
                /* Only prevent horizontal scrolling */
                overflow-x: hidden;
                /* Enable vertical scrolling */
                overflow-y: auto;
                /* Add safe padding for mobile devices */
                padding-top: env(safe-area-inset-top);
                padding-bottom: env(safe-area-inset-bottom);
                padding-left: env(safe-area-inset-left);
                padding-right: env(safe-area-inset-right);
            }

            /* Add safe padding for fixed headers */
            .fixed-header {
                padding-top: env(safe-area-inset-top);
            }

            /* Disable text selection */
            * {
                -webkit-tap-highlight-color: transparent;
            }

            /* Enable selection on text elements */
            p,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                -webkit-user-select: text;
                user-select: text;
            }

            /* ========================================================== */
            /* Cross-document View Transitions — opts every page into the   */
            /* browser's morph between same-origin navigations. Pairs with  */
            /* `view-transition-name` declarations on individual elements   */
            /* (currently: the dock active pill). Chrome 126+ / Safari 18+. */
            /* Unsupported browsers fall back to plain navigation.          */
            /* ========================================================== */
            @view-transition {
                navigation: auto;
            }

            /* ========================================================== */
            /* Soft-3D design system tokens — see /.impeccable.md          */
            /* ========================================================== */

            .wordmark {
                font-family: var(--font-display);
                font-weight: 700;
                letter-spacing: -0.01em;
                /* Caveat's script glyphs overshoot both the ascender and
                   descender. Give the wordmark its own line box so mobile
                   Safari doesn't clip the top stroke or the y descender when
                   parent links use leading-none. */
                display: inline-block;
                line-height: 1.14;
                padding-left: 0.02em;
                padding-right: 0.1em;
                padding-top: 0.04em;
                padding-bottom: 0.14em;
            }

            /* Wordmark playfulness: letters take turns lifting on hover, like
               the brand mark is greeting you back. Stagger comes from --i set
               per-letter in the markup. Each letter rotates around its baseline
               to keep the script feel rather than looking like a stiff bounce. */
            .wordmark-letter {
                display: inline-block;
                transform-origin: 50% 100%;
                transition: transform 320ms cubic-bezier(0.34, 1.56, 0.64, 1);
            }
            .wordmark-link {
                transition: transform 120ms ease-out;
            }
            .wordmark-link:active {
                transform: translateY(1px) scale(0.985);
            }
            @keyframes wordmark-wave {
                0%   { transform: translateY(0) rotate(0deg) scale(1); }
                35%  { transform: translateY(-8px) rotate(-4deg) scale(1.06); }
                65%  { transform: translateY(-2px) rotate(2deg) scale(1.02); }
                100% { transform: translateY(0) rotate(0deg) scale(1); }
            }
            @media (hover: hover) and (pointer: fine) {
                .wordmark-link:hover .wordmark-letter {
                    animation: wordmark-wave 900ms cubic-bezier(0.34, 1.56, 0.64, 1) calc(var(--i) * 60ms) both;
                }
                .wordmark-link:active {
                    transform: none;
                }
                .wordmark-link:active .wordmark-letter {
                    transform: translateY(1px) scale(0.97);
                    transition-duration: 80ms;
                }
            }
            @media (prefers-reduced-motion: reduce) {
                .wordmark-link:hover .wordmark-letter {
                    animation: none;
                }
                .wordmark-link,
                .wordmark-link:active,
                .wordmark-link:active .wordmark-letter {
                    transform: none;
                    transition: none;
                }
            }

            /* Elevation scale */
            .shadow-soft-1 {
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.9),
                    0 1px 2px rgba(15, 15, 15, 0.05),
                    0 4px 12px rgba(15, 15, 15, 0.05),
                    0 8px 24px rgba(15, 15, 15, 0.04);
            }
            .shadow-soft-2 {
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.95),
                    0 1px 2px rgba(15, 15, 15, 0.06),
                    0 6px 16px rgba(15, 15, 15, 0.07),
                    0 16px 32px rgba(15, 15, 15, 0.06);
            }
            .shadow-soft-3 {
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.95),
                    0 1px 2px rgba(15, 15, 15, 0.08),
                    0 8px 20px rgba(15, 15, 15, 0.1),
                    0 24px 48px rgba(15, 15, 15, 0.08);
            }
            .shadow-purple-cta {
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.4),
                    inset 0 -1px 0 rgba(0, 0, 0, 0.12),
                    0 1px 2px rgba(80, 20, 160, 0.2),
                    0 6px 14px rgba(147, 51, 234, 0.4),
                    0 12px 28px rgba(147, 51, 234, 0.22);
            }

            /* Tactile pill — chunky physical pillow (status badges) */
            .pill-tactile {
                display: inline-flex;
                align-items: center;
                gap: 0.35rem;
                padding: 0.4rem 0.85rem;
                border-radius: 14px;
                font-weight: 700;
                font-size: 12px;
                line-height: 1;
                letter-spacing: 0.01em;
            }
            .pill-emerald {
                background: linear-gradient(180deg, #ecfdf5 0%, #a7f3d0 100%);
                color: #047857;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.7),
                    inset 0 -1px 0 rgba(4, 120, 87, 0.15),
                    0 1px 2px rgba(4, 120, 87, 0.12),
                    0 2px 6px rgba(4, 120, 87, 0.1);
            }
            .pill-amber {
                background: linear-gradient(180deg, #fffbeb 0%, #fcd34d 100%);
                color: #92400e;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.8),
                    inset 0 -1px 0 rgba(146, 64, 14, 0.15),
                    0 1px 2px rgba(146, 64, 14, 0.12),
                    0 2px 6px rgba(146, 64, 14, 0.1);
            }
            .pill-rose {
                background: linear-gradient(180deg, #fff1f2 0%, #fda4af 100%);
                color: #9f1239;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.7),
                    inset 0 -1px 0 rgba(159, 18, 57, 0.15),
                    0 1px 2px rgba(159, 18, 57, 0.12),
                    0 2px 6px rgba(159, 18, 57, 0.1);
            }
            .pill-blue {
                background: linear-gradient(180deg, #eff6ff 0%, #93c5fd 100%);
                color: #1e40af;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.7),
                    inset 0 -1px 0 rgba(30, 64, 175, 0.15),
                    0 1px 2px rgba(30, 64, 175, 0.12),
                    0 2px 6px rgba(30, 64, 175, 0.1);
            }
            .pill-stone {
                background: linear-gradient(180deg, #fafaf9 0%, #d6d3d1 100%);
                color: #44403c;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.7),
                    inset 0 -1px 0 rgba(68, 64, 60, 0.12),
                    0 1px 2px rgba(68, 64, 60, 0.1),
                    0 2px 6px rgba(68, 64, 60, 0.08);
            }

            /* Filter chip — full-pill, larger than status pills */
            .chip-tactile {
                display: inline-flex;
                align-items: center;
                gap: 0.4rem;
                padding: 0.55rem 1rem;
                border-radius: 999px;
                font-weight: 600;
                font-size: 14px;
                transition: all 160ms cubic-bezier(0.2, 0, 0, 1);
                cursor: pointer;
                border: none;
            }
            .chip-inactive {
                background: linear-gradient(180deg, #ffffff 0%, #f5f5f4 100%);
                color: #44403c;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 1),
                    inset 0 -1px 0 rgba(0, 0, 0, 0.04),
                    0 1px 2px rgba(15, 15, 15, 0.05),
                    0 4px 8px rgba(15, 15, 15, 0.04);
            }
            .chip-active {
                background: linear-gradient(180deg, #c084fc 0%, #9333ea 100%);
                color: white;
                font-weight: 700;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.4),
                    inset 0 -1px 0 rgba(0, 0, 0, 0.15),
                    0 1px 2px rgba(80, 20, 160, 0.25),
                    0 4px 12px rgba(147, 51, 234, 0.35);
            }

            /* Card — vertical gradient, hairline border, multi-layer shadow */
            .card-tactile {
                background: linear-gradient(180deg, #ffffff 0%, #fafaf9 100%);
                border-radius: 24px;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 1),
                    inset 0 0 0 1px rgba(15, 15, 15, 0.03),
                    0 1px 2px rgba(15, 15, 15, 0.06),
                    0 8px 20px rgba(15, 15, 15, 0.06),
                    0 20px 40px rgba(15, 15, 15, 0.05);
            }

            /* Primary CTA — purple gradient game-UI button */
            .btn-primary-tactile {
                background: linear-gradient(180deg, #a855f7 0%, #7e22ce 100%);
                color: white;
                font-weight: 700;
                padding: 0.55rem 1.1rem;
                border-radius: 999px;
                font-size: 13px;
                letter-spacing: 0.01em;
                display: inline-flex;
                align-items: center;
                gap: 0.35rem;
                border: none;
                cursor: pointer;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.4),
                    inset 0 -2px 0 rgba(0, 0, 0, 0.15),
                    0 1px 2px rgba(80, 20, 160, 0.25),
                    0 4px 10px rgba(147, 51, 234, 0.35),
                    0 10px 20px rgba(147, 51, 234, 0.2);
            }

            /* Date chip — tactile mini surface (cards, hero, etc.) */
            .date-chip {
                background: linear-gradient(180deg, #ffffff 0%, #f5f5f4 100%);
                border-radius: 14px;
                padding: 0.5rem 0.75rem;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 1),
                    inset 0 0 0 1px rgba(15, 15, 15, 0.04),
                    0 2px 4px rgba(15, 15, 15, 0.06),
                    0 4px 12px rgba(15, 15, 15, 0.05);
            }
            .date-chip-purple {
                background: linear-gradient(180deg, #faf5ff 0%, #e9d5ff 100%);
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.9),
                    inset 0 0 0 1px rgba(147, 51, 234, 0.12),
                    0 2px 4px rgba(147, 51, 234, 0.15),
                    0 4px 12px rgba(147, 51, 234, 0.12);
            }

            /* Press feedback — GPU-only, no layout thrash */
            .press {
                transition:
                    transform 160ms cubic-bezier(0.2, 0, 0, 1),
                    box-shadow 160ms cubic-bezier(0.2, 0, 0, 1);
            }
            .press:active {
                transform: scale(0.985) translateY(1px);
            }
            .press-sm:active {
                transform: scale(0.94);
            }

            /* Hover-lift — desktop only, never on touch */
            @media (hover: hover) and (pointer: fine) {
                .lift-hover {
                    transition:
                        transform 200ms cubic-bezier(0.2, 0, 0, 1),
                        box-shadow 200ms cubic-bezier(0.2, 0, 0, 1);
                }
                .lift-hover:hover {
                    transform: translateY(-2px);
                }
                .lift-hover:hover.card-tactile {
                    box-shadow:
                        inset 0 1px 0 rgba(255, 255, 255, 0.95),
                        inset 0 -1px 0 rgba(15, 15, 15, 0.04),
                        0 1px 2px rgba(15, 15, 15, 0.04),
                        0 6px 18px rgba(15, 15, 15, 0.08);
                }
                /* Cover photo subtle zoom when its lift-hover ancestor is hovered */
                .lift-hover .cover-zoom {
                    transition: transform 360ms cubic-bezier(0.2, 0, 0, 1);
                }
                .lift-hover:hover .cover-zoom {
                    transform: scale(1.03);
                }

                /* Primary CTA — subtle lift on hover */
                .btn-primary-tactile {
                    transition:
                        transform 180ms cubic-bezier(0.2, 0, 0, 1),
                        box-shadow 180ms cubic-bezier(0.2, 0, 0, 1);
                }
                .btn-primary-tactile:hover {
                    transform: translateY(-1px);
                }

                /* Arrow nudge — any decorative arrow inside btn-primary-tactile or .arrow-nudge */
                .btn-primary-tactile [aria-hidden="true"],
                .arrow-nudge [aria-hidden="true"],
                .arrow-nudge::after {
                    display: inline-block;
                    transition: transform 200ms cubic-bezier(0.2, 0, 0, 1);
                }
                .btn-primary-tactile:hover [aria-hidden="true"],
                .arrow-nudge:hover [aria-hidden="true"] {
                    transform: translateX(3px);
                }
            }

            /* Entrance animations — runs once on page load.
               Navigations are user-triggered, so principle #5 still holds
               (tactility ON, ambient motion OFF). Stagger via animation-delay
               on individual elements, e.g. style="animation-delay: 80ms" */
            @keyframes entrance-rise {
                0%   { transform: translateY(8px); opacity: 0; }
                100% { transform: translateY(0); opacity: 1; }
            }
            @keyframes entrance-pop {
                0%   { transform: scale(0.92); opacity: 0; }
                60%  { transform: scale(1.03); opacity: 1; }
                100% { transform: scale(1); opacity: 1; }
            }
            .entrance-rise {
                animation: entrance-rise 320ms cubic-bezier(0.2, 0, 0, 1) backwards;
            }
            .entrance-pop {
                animation: entrance-pop 380ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards;
            }

            /* One-shot pop animations — added/removed via JS */
            @keyframes tactile-pop {
                0% { transform: scale(1); }
                40% { transform: scale(1.28); }
                100% { transform: scale(1); }
            }
            @keyframes chip-pop {
                0% { transform: scale(1); }
                50% { transform: scale(1.08); }
                100% { transform: scale(1); }
            }
            .pop-once {
                animation: tactile-pop 360ms cubic-bezier(0.34, 1.56, 0.64, 1);
            }
            .chip-pop-once {
                animation: chip-pop 240ms cubic-bezier(0.34, 1.56, 0.64, 1);
            }

            /* Suppress hover-driven transitions while the user is actively
               scrolling — eliminates cascading layer/transition recalc as
               cards pass under the cursor on desktop, which was making
               long lists feel janky. The `is-scrolling` class is added by
               JS on scroll start and removed ~150ms after the last frame. */
            html.is-scrolling .lift-hover,
            html.is-scrolling .lift-hover:hover,
            html.is-scrolling .lift-hover .cover-zoom,
            html.is-scrolling .lift-hover:hover .cover-zoom,
            html.is-scrolling .btn-primary-tactile,
            html.is-scrolling .btn-primary-tactile:hover {
                transition: none !important;
                transform: none !important;
            }
            html.is-scrolling .lift-hover {
                pointer-events: none;
            }

            /* When a cross-document View Transition runs, replaying
               entrance-rise/entrance-pop on the live element on top of
               the morph causes a visible flash as the VT snapshot tears
               down. The `via-vt` class is added by the pagereveal handler
               below for the transition's duration.
               (chrome-in-left/right intentionally omitted — they're
               sequenced AFTER the cover morph via animation-delay so they
               don't compete; running them is the right behavior even on
               VT loads.) */
            html.via-vt .entrance-rise,
            html.via-vt .entrance-pop,
            html.via-vt .cal-section-in {
                animation: none !important;
            }

            /* events-section-in: permanent suppression on VT arrival.
               Unlike cal-section-in (where the post-morph cascade is wanted),
               replaying the stagger after the morph on /events flickers —
               the user has already seen these sections before navigating away. */
            html.vt-arrived .events-section-in {
                animation: none !important;
            }

            /* Respect reduced-motion (principle #2 in .impeccable.md) */
            @media (prefers-reduced-motion: reduce) {
                .press,
                .press:active,
                .press-sm:active,
                .lift-hover,
                .lift-hover:hover,
                .lift-hover .cover-zoom,
                .lift-hover:hover .cover-zoom,
                .btn-primary-tactile,
                .btn-primary-tactile:hover,
                .btn-primary-tactile [aria-hidden="true"],
                .btn-primary-tactile:hover [aria-hidden="true"],
                .arrow-nudge [aria-hidden="true"],
                .arrow-nudge:hover [aria-hidden="true"] {
                    transition: none;
                    transform: none;
                }
                .pop-once,
                .chip-pop-once,
                .entrance-rise,
                .entrance-pop {
                    animation: none;
                }
            }
        </style>

        {/* One-shot entrance cleanup — once an entrance animation finishes,
            strip its class so a later short-lived animation (e.g. chip-pop-once
            on filter chip activate) can't restart the entrance by overriding
            and then releasing the `animation` shorthand on the same element. */}
        <script is:inline>
            (() => {
                const ENTRANCE_CLASSES = [
                    'entrance-rise', 'entrance-pop',
                    'chrome-in-left', 'chrome-in-right',
                    'subscribe-icon', 'subscribe-chip',
                ];
                document.addEventListener('animationend', (e) => {
                    const el = e.target;
                    if (!(el instanceof HTMLElement)) return;
                    for (const c of ENTRANCE_CLASSES) {
                        if (el.classList.contains(c)) el.classList.remove(c);
                    }
                });
            })();
        </script>

        {/* When the page is rendered as the destination of a cross-document
            View Transition, suppress entrance animations for the duration of
            the transition. Without this, cards on /events replay their
            entrance-rise on top of the VT morph, causing a visible flash as
            the VT snapshot tears down and the live element starts a fresh
            translateY/opacity animation. */}
        <script is:inline>
            (() => {
                const root = document.documentElement;
                window.addEventListener('pagereveal', (e) => {
                    if (!('viewTransition' in e) || !e.viewTransition) return;
                    root.classList.add('via-vt');
                    // vt-arrived persists for the document lifetime — used by
                    // .events-section-in to permanently suppress the cascade
                    // when the page is the destination of a VT navigation.
                    root.classList.add('vt-arrived');
                    e.viewTransition.finished.finally(() => {
                        root.classList.remove('via-vt');
                    });
                });
            })();
        </script>

        {/* Scroll-coalesced class on <html> — lets CSS short-circuit
            hover-driven transitions while scrolling so long lists don't
            stutter as cards pass under the cursor. Passive listener so
            we never block the scroll itself. */}
        <script is:inline>
            (() => {
                const root = document.documentElement;
                let timer = null;
                const stop = () => root.classList.remove('is-scrolling');
                window.addEventListener('scroll', () => {
                    if (!root.classList.contains('is-scrolling')) {
                        root.classList.add('is-scrolling');
                    }
                    if (timer) clearTimeout(timer);
                    timer = setTimeout(stop, 150);
                }, { passive: true });
            })();
        </script>

        {
            import.meta.env.PROD && (
                <script
                    src="https://beamanalytics.b-cdn.net/beam.min.js"
                    data-token="941e2350-8b1f-4f87-8b02-53d93290d3dd"
                    is:inline
                    async
                />
            )
        }

        {
            import.meta.env.PROD && (
                <script
                    defer
                    src="https://stats.gocebby.com/script.js"
                    is:inline
                    data-website-id="ca232fd2-603f-43a5-9bea-470366370a15"
                />
            )
        }
    </head>
    <body>
        <!-- Loading progress bar -->
        <div
            id="loading-bar"
            class="fixed top-0 left-0 z-[100] h-1 transition-all duration-300 ease-out"
            style="width: 0%; background: linear-gradient(90deg, #c084fc 0%, #9333ea 100%);"
        >
        </div>

        <slot name="header" />
        <slot />
        {showFooter && <Footer />}
        <ReloadPrompt />
        <FeedbackForm />

        <script>
            // Global loading bar functionality
            function initLoadingBar() {
                const loadingBar = document.getElementById('loading-bar') as HTMLElement;
                if (!loadingBar) return;

                let progress = 0;
                let progressTimer: number;

                function startProgress() {
                    progress = 0;
                    loadingBar!.style.width = '0%';
                    loadingBar!.style.opacity = '1';

                    progressTimer = window.setInterval(() => {
                        progress += Math.random() * 30;
                        if (progress > 90) progress = 90;
                        loadingBar!.style.width = progress + '%';
                    }, 200);
                }

                function completeProgress() {
                    clearInterval(progressTimer);
                    loadingBar!.style.width = '100%';

                    setTimeout(() => {
                        loadingBar!.style.opacity = '0';
                        setTimeout(() => {
                            loadingBar!.style.width = '0%';
                        }, 300);
                    }, 200);
                }

                // Listen for navigation events
                document.addEventListener('astro:before-preparation', startProgress);
                document.addEventListener('astro:page-load', completeProgress);
            }

            // Initialize loading bar
            initLoadingBar();
        </script>
    </body>
</html>
